# Summary

- We use 2010 to 2013 monthly data to run FM regression on multiple valuation variables and expected return and decide to use E/P and B/M ratio in our final model. We use these two variables to filter companies after 2013 and get 593 companies(top 20% value stocks)
- We use monthly data to run FM regression to test the momentum strategy, but we decide not to use momentum variables in the filtering process and in our final model.
- We use daily data to run FM regression to test the reversal strategy and managed volatility strategy. Given the good model performance, we decide to use LAGMSTD and LAGRET in our final model.
- We cut all stocks into 40 portions based on return performance. We long the 1st portion stocks and short the 40th portion stocks
- Our strategy achieves a daily return of 0.29% and a sharp ratio of 1.66

# Data Preparation

In [1]:
# Load packages
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from pandas.tseries.offsets import MonthEnd

In [2]:
# Load the data
# daily stocks data
# pls download it from here: https://www.dropbox.com/s/xbomfdwohr6by9d/crsp_daily.feather?dl=0
crsp_d=pd.read_feather('crsp_daily.feather')
crsp_d.head()

,PERMNO,DATE,COMNAM,TICKER,SHRCD,SICCD,PRC,VOL,OPENPRC,ASKHI,BIDLO,BID,ASK,RET,RETX,SHROUT,DIVAMT
0,10001.0,2000-01-03,b'ENERGY WEST INC',b'EWST',11.0,4920.0,8.5625,1721.0,8.4375,8.5625,8.4375,8.4375,8.5625,0.007353,0.007353,2450.0,NaN
1,10001.0,2000-01-04,b'ENERGY WEST INC',b'EWST',11.0,4920.0,8.4375,1080.0,8.4375,8.4375,8.4375,8.4375,8.5625,-0.014599,-0.014599,2450.0,NaN
2,10001.0,2000-01-05,b'ENERGY WEST INC',b'EWST',11.0,4920.0,8.5625,1711.0,8.4375,8.5625,8.4375,8.4375,8.5625,0.014815,0.014815,2450.0,NaN
3,10001.0,2000-01-06,b'ENERGY WEST INC',b'EWST',11.0,4920.0,8.5000,580.0,8.5000,8.5000,8.5000,8.4375,8.5625,-0.007299,-0.007299,2450.0,NaN
4,10001.0,2000-01-07,b'ENERGY WEST INC',b'EWST',11.0,4920.0,8.4375,1406.0,8.5625,8.5625,8.4375,8.4375,8.5625,-0.007353,-0.007353,2450.0,NaN

In [3]:
# monthly stocks data

crsp_m=pd.read_feather('crsp_monthly.feather')
crsp_m['DATE']=crsp_m['DATE']+MonthEnd(0)
crsp_m.head()

    PERMNO       DATE  SHRCD  EXCHCD   SICCD     PRC     VOL       RET  SHROUT
0  10000.0 1985-12-31    NaN     NaN     NaN     NaN     NaN       NaN     NaN
1  10000.0 1986-01-31   10.0     3.0  3990.0 -4.3750  1771.0       NaN  3680.0
2  10000.0 1986-02-28   10.0     3.0  3990.0 -3.2500   828.0 -0.257143  3680.0
3  10000.0 1986-03-31   10.0     3.0  3990.0 -4.4375  1078.0  0.365385  3680.0
4  10000.0 1986-04-30   10.0     3.0  3990.0 -4.0000   957.0 -0.098592  3793.0

In [4]:
# pls download it from here: https://github.com/Shawn-zou-2020/MyProjects/blob/main/Quatitative%20Finance/Raw%20Data/compustat.feather
compustat=pd.read_feather('compustat.feather')
compustat.head()

,DATADATE,FYEAR,LPERMNO,AT,CEQ,LT,PSTK,SEQ,IB,CAPX
0,1970-12-31,1970.0,25881.0,33.450,10.544,22.906,0.000,10.544,1.878,2.767
1,1971-12-31,1971.0,25881.0,29.330,8.381,20.948,0.000,8.382,0.138,1.771
2,1972-12-31,1972.0,25881.0,19.907,7.021,12.886,0.000,7.021,1.554,1.254
3,1973-12-31,1973.0,25881.0,21.771,8.567,13.204,0.000,8.567,1.863,1.633
4,1974-12-31,1974.0,25881.0,25.638,9.843,15.381,0.414,10.257,1.555,1.313

In [5]:
cstat=compustat.rename(columns={'LPERMNO':'PERMNO'})
cstat['DATE']=cstat['DATADATE']+MonthEnd(0)

**Choose a period and only keep the stocks**
- 2010-2018
- SHRCD = 10/11

In [6]:
cstat = cstat.loc[(cstat['DATE']<='2018-12-31')&(cstat['DATE']>='2010-01-01')]
cstat = cstat.reset_index(drop='True')

In [7]:
# monthly data
stocks_b = crsp_m.loc[(crsp_m['DATE']<='2013-12-31')&(crsp_m['DATE']>='2010-01-01')\
                      &((crsp_m['SHRCD']==10)|(crsp_m['SHRCD']==11))]
stocks_b.head()

,PERMNO,DATE,SHRCD,EXCHCD,SICCD,PRC,VOL,RET,SHROUT
308,10001.0,2010-01-31,11.0,2.0,4925.0,10.0600,3104.0,-0.018932,4361.0
309,10001.0,2010-02-28,11.0,2.0,4925.0,10.0084,1510.0,-0.000656,4361.0
310,10001.0,2010-03-31,11.0,2.0,4925.0,10.1700,2283.0,0.020643,4361.0
311,10001.0,2010-04-30,11.0,2.0,4925.0,11.3900,3350.0,0.124385,6070.0
312,10001.0,2010-05-31,11.0,2.0,4925.0,11.4000,3451.0,0.004829,6071.0

In [8]:
# daily data
stocks = crsp_d.loc[(crsp_d['DATE']<='2018-12-31')&(crsp_d['DATE']>='2010-01-01')\
                    &((crsp_d['SHRCD']==10)|(crsp_d['SHRCD']==11))]
stocks.head()

,PERMNO,DATE,COMNAM,TICKER,SHRCD,SICCD,PRC,VOL,OPENPRC,ASKHI,BIDLO,BID,ASK,RET,RETX,SHROUT,DIVAMT
2515,10001.0,2010-01-04,b'ENERGY INC',b'EGAS',11.0,4925.0,10.25,18500.0,10.58,10.5800,10.10,10.21,10.26,-0.004854,-0.004854,4361.0,NaN
2516,10001.0,2010-01-05,b'ENERGY INC',b'EGAS',11.0,4925.0,10.19,23200.0,10.18,10.3600,9.80,10.15,10.19,-0.005854,-0.005854,4361.0,NaN
2517,10001.0,2010-01-06,b'ENERGY INC',b'EGAS',11.0,4925.0,10.31,18700.0,10.18,10.4800,10.15,10.31,10.35,0.011776,0.011776,4361.0,NaN
2518,10001.0,2010-01-07,b'ENERGY INC',b'EGAS',11.0,4925.0,9.96,29200.0,10.28,10.3695,9.91,9.95,9.97,-0.033948,-0.033948,4361.0,NaN
2519,10001.0,2010-01-08,b'ENERGY INC',b'EGAS',11.0,4925.0,10.34,25100.0,10.00,10.4000,10.00,10.34,10.37,0.038153,0.038153,4361.0,NaN

In [9]:
stocks = stocks.set_index(['DATE'])
stocks_b = stocks_b.set_index(['DATE'])

- Only keep necessary variables

In [10]:
stocks = stocks[['PERMNO','PRC','VOL','RET','SHROUT']].copy()
stocks_b = stocks_b[['PERMNO','PRC','VOL','RET','SHROUT']].copy()

- Add risk free rate to daily stocks data

In [11]:
# Add risk-free ret on daily stocks data
irx = pd.read_csv('^IRX.csv',parse_dates=[0], index_col=[0])[['Close']]

# Join
stocks = stocks.join(irx, how = 'left', on = 'DATE')
stocks = stocks.rename(columns={'Close':'ARRET'})
stocks.head()

# Fillna
stocks['ARRET'] = stocks['ARRET'].fillna(method='ffill')

# N_t = (date-date.shift()).dt.days
stocks = stocks.reset_index()
stocks = stocks.set_index(['PERMNO'])
stocks['LAGD'] = stocks[['DATE']].groupby('PERMNO').shift()
stocks['N_t'] = (stocks['DATE'] - stocks['LAGD']).dt.days

# Risk return 
stocks['RRET'] = stocks['ARRET'].shift() * stocks['N_t']/36500

# Excess return 
stocks['EXRET'] = stocks['RET'] - stocks['RRET']

In [12]:
# Add risk-free ret on monthly stocks data
irx_ = pd.read_csv('^IRX_.csv')[['Date','Close']]
irx_['Date'] = pd.to_datetime(irx_['Date'])
irx_['Date'] = irx_['Date'] + MonthEnd(0)
irx_ = irx_.set_index(['Date'])

# Join
stocks_b = stocks_b.join(irx_, how = 'left', on = 'DATE')
stocks_b = stocks_b.rename(columns={'Close':'ARRET'})

# Fillna
stocks_b['ARRET'] = stocks_b['ARRET'].fillna(method='ffill')

# Risk return 
stocks_b['RRET'] = stocks_b['ARRET'].shift()/1200

# Excess return
stocks_b['EXRET'] = stocks_b['RET'] - stocks_b['RRET']

# Create Possible Variables

- General Variables

In [13]:
# PRC: absolute value of stock price
stocks['PRC']=np.abs(stocks['PRC'])

# MKTP: Market capitalization = price * shares outstanding
# MAMKTP1: Moving average of market capitalization of 22 trading days
# MAMKTP2: Moving average of market capitalization of 264 trading days
stocks['MKTP'] = stocks['PRC'] * stocks['SHROUT']
stocks['MAMKTP1'] = stocks.groupby('PERMNO')['MKTP'].apply(lambda x: x.rolling(22).mean())
stocks['MAMKTP2'] = stocks.groupby('PERMNO')['MKTP'].apply(lambda x: x.rolling(264).mean())

# MSTD: Standard deviation of excess return of 264 trading days
# MARET1: Moving average of excess return of 22 trading days
# MARET2: Moving average of excess return of 264 trading days
# MARS: Moving average of MARET * MSTD of 264 trading days
# MASR: Moving average of MARET/MSTD (Sharp Ratio) of 264 trading days
stocks['MSTD'] = stocks[['EXRET']].groupby('PERMNO').apply(lambda x: x.rolling(264).std())
stocks['MARET1'] = stocks[['EXRET']].groupby('PERMNO').apply(lambda x: x.rolling(22).mean())
stocks['MARET2'] = stocks[['EXRET']].groupby('PERMNO').apply(lambda x: x.rolling(264).mean())
stocks['MARS'] = stocks['MARET2']*stocks['MSTD']
stocks['MASR'] = stocks['MARET2']/stocks['MSTD']

# LAGMKTP: Lag 1 day of MKTP variable
# LAGMARS: Lag 1 day of MARS variable
# LAGMARET: Lag 1 day of MARET variable
# LAGMSTD: Lag 1 day of MSTD variable
stocks['LAGMKTP1'] = stocks['MAMKTP1'].groupby('PERMNO').shift()
stocks['LAGMKTP2'] = stocks['MAMKTP2'].groupby('PERMNO').shift()
stocks['LAGMARS'] = stocks['MARS'].groupby('PERMNO').shift()
stocks['LAGMASR'] = stocks['MASR'].groupby('PERMNO').shift()
stocks['LAGMARET1'] = stocks['MARET1'].groupby('PERMNO').shift()
stocks['LAGMARET2'] = stocks['MARET2'].groupby('PERMNO').shift()
stocks['LAGMSTD'] = stocks['MSTD'].groupby('PERMNO').shift()

- For Value Stocks

In [14]:
# cstat
cstat['SEQ']=cstat['SEQ'].fillna(cstat['CEQ']+cstat['PSTK'])
cstat['SEQ']=cstat['SEQ'].fillna(cstat['AT']-cstat['LT'])
cstat=cstat.reset_index()
cstat=cstat.set_index(['PERMNO','DATE']).sort_index()


# stocks_b
stocks_b = stocks_b.reset_index()
stocks_b = stocks_b.set_index(['PERMNO','DATE']).sort_index()
stocks_b = stocks_b.merge(cstat[['IB','SEQ']],how='left',on=['PERMNO','DATE'])
stocks_b.head()

                        PRC     VOL       RET  SHROUT  ARRET      RRET  \
PERMNO  DATE
10001.0 2010-01-31  10.0600  3104.0 -0.018932  4361.0  0.070       NaN
        2010-02-28  10.0084  1510.0 -0.000656  4361.0  0.115  0.000058
        2010-03-31  10.1700  2283.0  0.020643  4361.0  0.150  0.000096
        2010-04-30  11.3900  3350.0  0.124385  6070.0  0.155  0.000125
        2010-05-31  11.4000  3451.0  0.004829  6071.0  0.150  0.000129

                       EXRET  IB  SEQ
PERMNO  DATE
10001.0 2010-01-31       NaN NaN  NaN
        2010-02-28 -0.000714 NaN  NaN
        2010-03-31  0.020547 NaN  NaN
        2010-04-30  0.124260 NaN  NaN
        2010-05-31  0.004700 NaN  NaN

In [15]:
# lag_IB: assume that we can only know the IB after 6 months
# lag_SEQ: assume that we can only know the SEQ after 6 months
stocks_b['lag_IB']=stocks_b['IB'].groupby('PERMNO').shift(6).fillna(method='pad',limit=15)
stocks_b['lag_SEQ']=stocks_b['SEQ'].groupby('PERMNO').shift(6).fillna(method='pad',limit=15)

In [16]:
# MKTP: Market capitalization = price * shares outstanding
stocks_b['MKTP'] = stocks_b['PRC'] * stocks_b['SHROUT']

In [17]:
# lag_ep: lag 1 day e/p ratio
# lag_bm: lag 1 day b/m ratio

stocks_b['lag_ep']=stocks_b['lag_IB']/stocks_b.groupby('PERMNO')['MKTP'].shift(1)*1000
stocks_b['lag_bm']=stocks_b['lag_SEQ']/stocks_b.groupby('PERMNO')['MKTP'].shift(1)*1000

- For Reversal Strategy

In [18]:
# MA5: 5-day moving average return
# LAGMA5: lag 1 day of MA5
# LAGRET: lag 1 day of RET
# DIFF: LAGRET - MA5
stocks['MA5'] = stocks.groupby('PERMNO')[['RET']].apply(lambda x: x.rolling(5).mean())
stocks['LAGMA5'] = stocks.groupby('PERMNO')[['MA5']].shift()
stocks['LAGRET'] = stocks.groupby('PERMNO')[['RET']].shift()
stocks['DIFF'] = stocks['LAGRET'] - stocks['LAGMA5']

- For Momentum Startegy

In [19]:
# daily dataset
# _RET1Y: MA 1 month ret 1 year ago
stocks['_RET1Y'] = stocks.groupby('PERMNO')[['RET']].apply(lambda x: x.shift(264).rolling(22).mean())

In [20]:
# monthly dataset
# _RET1Y: ret 1 year ago
stocks_b['_RET1Y'] = stocks_b.groupby('PERMNO')[['RET']].shift(12)

- dropna

In [21]:
stocks_d = stocks.dropna(subset=['LAGMKTP2','LAGMARS','LAGMASR','LAGMARET2','LAGMSTD',\
                                 'LAGRET','LAGMA5','DIFF','MA5','_RET1Y'])
stocks_m = stocks_b.dropna(subset=['lag_ep','lag_bm','_RET1Y'])

# Test Regression (FM): Value Variables
- Using Monthly day to verify the relationships between Expected Return and Value Variables

In [22]:
# do simple filter on e/p, it usually should be above 0 and below 0.2
stocks_m = stocks_m.loc[(stocks_m['lag_ep']>0)&(stocks_m['lag_ep']<=0.2)]

In [23]:
df = stocks_m.reset_index()
df = df.set_index(['DATE','PERMNO'])

In [24]:
# try market capital
df1 = df[['EXRET','MKTP']].sort_index()
allparams = df1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ MKTP', data=x).fit().params)

In [25]:
allparams.mean()
# positive but not strong
# thus we don't use market capital

Intercept    1.431949e-02
MKTP         1.943091e-11
dtype: float64

In [26]:
# try lag_ep
df2 = df[['EXRET','lag_ep']].sort_index()
allparams = df2.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_ep', data=x).fit().params)
rsquare = df2.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_ep', data=x).fit().rsquared)
pvalue = df2.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_ep', data=x).fit().pvalues)

In [27]:
rsquare.mean()

0.001992601071242686

In [28]:
allparams.mean()
# positive and not bad
# thus we can use lag_ep

Intercept    0.014019
lag_ep       0.003800
dtype: float64

In [29]:
pvalue.mean()

Intercept    0.091486
lag_ep       0.381476
dtype: float64

In [30]:
# try lag_bm
df3 = df[['EXRET','lag_bm']].sort_index()
allparams = df3.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm', data=x).fit().params)
rsquare = df3.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm', data=x).fit().rsquared)
pvalue = df3.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm', data=x).fit().pvalues)

In [31]:
rsquare.mean()
# not bad

0.00328610515015094

In [32]:
allparams.mean()
# positive and not bad
# thus we can use lag_bm

Intercept    0.013298
lag_bm       0.001546
dtype: float64

In [33]:
pvalue.mean()

Intercept    0.063229
lag_bm       0.244714
dtype: float64

In [34]:
# try lag_bm + lag_ep
df4 = df[['EXRET','lag_bm','lag_ep']].sort_index()
allparams = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep', data=x).fit().params)
rsquare = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep', data=x).fit().rsquared)
pvalue = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep', data=x).fit().pvalues)

In [35]:
rsquare.mean()
# rsquare improved

0.004871371274536925

In [36]:
allparams.mean()
# lag_bm still negative, which is different from expectation
# we don't use lag_bm but use lag_ep

Intercept    0.013323
lag_bm       0.001727
lag_ep      -0.004248
dtype: float64

In [37]:
pvalue.mean()

Intercept    0.112225
lag_bm       0.248194
lag_ep       0.341606
dtype: float64

- Use e/p ratio and b/m ratio to filter stocks

In [38]:
stocks_m = stocks_m.reset_index()
stocks_m = stocks_m.set_index(['DATE','PERMNO']).sort_index()
stocks_m['RANK1'] = stocks_m['lag_ep'].groupby(['DATE']).apply(lambda x: pd.qcut(x, 10, labels=range(1,11)))

In [39]:
stocks_m = stocks_m.reset_index()
stocks_m = stocks_m.set_index(['DATE','PERMNO']).sort_index()
stocks_m['RANK2'] = stocks_m['lag_bm'].groupby(['DATE']).apply(lambda x: pd.qcut(x, 10, labels=range(1,11)))

- Use e/p ratio and b/m ratio to filter stocks
- We choose ep ratio Rank1 1-2 and bm ratio Rank2 1-2 stocks

In [40]:
stocks_m = stocks_m.reset_index()
stocks_m2 = stocks_m.loc[(stocks_m['RANK1']<=2)&(stocks_m['RANK2']<=2)]

In [41]:
stocks_list1 = list(set(stocks_m2.PERMNO))

In [42]:
len(stocks_list1)
# now we get 1078 stocks left

593

# Test Regression (FM): Momentum Variables

In [43]:
# try _RET1Y
df = stocks_m.reset_index()
df = df[df['PERMNO'].isin(stocks_list1)]
df = df.set_index(['DATE','PERMNO'])
df4 = df[['EXRET','_RET1Y','lag_ep']]

In [44]:
allparams = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().params)
rsquare = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().rsquared)
pvalue = df4.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().pvalues)

In [45]:
rsquare.mean()

0.007530934085999256

In [46]:
allparams.mean()

# _RET1Y, negative, different from expectation
# we cannot use _RET1Y to filter the stocks

Intercept    0.018934
_RET1Y       0.026807
dtype: float64

In [47]:
pvalue.mean()

Intercept    0.114454
_RET1Y       0.381635
dtype: float64

# Test Regression (FM): Reversal Variables

In [48]:
# We only wanna keep stocks whose PERMNO in stocks_list
stocks_d = stocks_d.reset_index()

stocks_s = stocks_d[stocks_d['PERMNO'].isin(stocks_list1)]

In [49]:
stocks_s=stocks_s.set_index(['PERMNO','DATE']).sort_index()
stocks_s=stocks_s.merge(cstat[['IB','SEQ']],how='left',on=['PERMNO','DATE'])

stocks_s['lag_IB']=stocks_s['IB'].groupby('PERMNO').shift(126).fillna(method='pad',limit=378)
stocks_s['lag_ep']=stocks_s['lag_IB']/stocks_s['MKTP'].shift(1)*1000
stocks_s['lag_SEQ']=stocks_s['SEQ'].groupby('PERMNO').shift(126).fillna(method='pad',limit=378)
stocks_s['lag_bm']=stocks_s['lag_SEQ']/stocks_s['MKTP'].shift(1)*1000

In [50]:
stocks_s = stocks_s.loc[(stocks_s['lag_ep']>0)&(stocks_s['lag_ep']<=0.2)]

In [51]:
stocks_s.columns

Index(['PRC', 'VOL', 'RET', 'SHROUT', 'ARRET', 'LAGD', 'N_t', 'RRET', 'EXRET',
       'MKTP', 'MAMKTP1', 'MAMKTP2', 'MSTD', 'MARET1', 'MARET2', 'MARS',
       'MASR', 'LAGMKTP1', 'LAGMKTP2', 'LAGMARS', 'LAGMASR', 'LAGMARET1',
       'LAGMARET2', 'LAGMSTD', 'MA5', 'LAGMA5', 'LAGRET', 'DIFF', '_RET1Y',
       'IB', 'SEQ', 'lag_IB', 'lag_ep', 'lag_SEQ', 'lag_bm'],
      dtype='object')

In [52]:
# reduce time period to make regression faster: 2018
stocks_ss = stocks_s.reset_index()
stocks_ss = stocks_ss.loc[(stocks_ss['DATE']<='2018-12-31') & (stocks_ss['DATE']>='2018-01-01')]

In [53]:
dff = stocks_ss.set_index(['DATE','PERMNO'])

In [54]:
# try LAGRET1
dff1 = dff[['EXRET','LAGRET']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGRET', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGRET', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGRET', data=x).fit().pvalues)

In [55]:
rsquare.mean()

0.049420240043841095

In [56]:
allparams.mean()

Intercept    0.000071
LAGRET      -0.034219
dtype: float64

In [57]:
pvalue.mean()

Intercept    0.203476
LAGRET       0.351163
dtype: float64

In [58]:
# try LAGMARET1
dff1 = dff[['EXRET','LAGMARET1']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET1', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET1', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET1', data=x).fit().pvalues)

In [59]:
rsquare.mean()

0.03636214324971668

In [60]:
allparams.mean()

Intercept   -0.000092
LAGMARET1   -0.061475
dtype: float64

In [61]:
pvalue.mean()

Intercept    0.206373
LAGMARET1    0.373377
dtype: float64

In [62]:
# try LAGMARET2
dff1 = dff[['EXRET','LAGMARET2']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2', data=x).fit().pvalues)

In [63]:
rsquare.mean()

0.03794982953324959

In [64]:
allparams.mean()

Intercept   -0.000151
LAGMARET2    0.066106
dtype: float64

In [65]:
pvalue.mean()

Intercept    0.210252
LAGMARET2    0.368566
dtype: float64

In [66]:
# try DIFF
dff1 = dff[['EXRET','DIFF']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ DIFF', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ DIFF', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ DIFF', data=x).fit().pvalues)

In [67]:
rsquare.mean()

0.045824051837138585

In [68]:
allparams.mean()

Intercept   -0.000022
DIFF        -0.025519
dtype: float64

In [69]:
pvalue.mean()

Intercept    0.189847
DIFF         0.358376
dtype: float64

In [70]:
# try 'LAGMSTD'
dff1 = dff[['EXRET','LAGMSTD']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD', data=x).fit().pvalues)

In [71]:
rsquare.mean()

0.03782694578972348

In [72]:
allparams.mean()

Intercept    0.000066
LAGMSTD     -0.007160
dtype: float64

In [73]:
pvalue.mean()

Intercept    0.299260
LAGMSTD      0.364995
dtype: float64

In [74]:
# try 'LAGMARS' 
dff1 = dff[['EXRET','LAGMARS']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS', data=x).fit().pvalues)

In [75]:
rsquare.mean()

0.04389667489093294

In [76]:
allparams.mean()

Intercept   -0.000109
LAGMARS     -0.154545
dtype: float64

In [77]:
pvalue.mean()

Intercept    0.193189
LAGMARS      0.341366
dtype: float64

In [78]:
# try 'LAGMASR' - NOT GOOD
dff1 = dff[['EXRET','LAGMASR']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMASR', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMASR', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMASR', data=x).fit().pvalues)

In [79]:
rsquare.mean()

0.03015527555743579

In [80]:
allparams.mean()

Intercept   -0.000226
LAGMASR      0.002865
dtype: float64

In [81]:
pvalue.mean()

Intercept    0.226932
LAGMASR      0.411671
dtype: float64

In [82]:
# try LAGMARS + DIFF - NOT GOOD 
dff1 = dff[['EXRET','LAGMARS','DIFF']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS + DIFF', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS + DIFF', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARS + DIFF', data=x).fit().pvalues)

In [83]:
rsquare.mean()

0.08792700534305997

In [84]:
allparams.mean()

Intercept   -0.000036
LAGMARS      3.553977
DIFF        -0.026318
dtype: float64

In [85]:
pvalue.mean()

Intercept    0.207360
LAGMARS      0.342123
DIFF         0.368039
dtype: float64

In [86]:
# try LAGMARET2 + DIFF
dff1 = dff[['EXRET','LAGMARET2','DIFF']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2+ DIFF', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2 + DIFF', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMARET2 + DIFF', data=x).fit().pvalues)

In [87]:
rsquare.mean()

0.08250179144086543

In [88]:
allparams.mean()

Intercept   -0.000048
LAGMARET2    0.169099
DIFF        -0.027596
dtype: float64

In [89]:
pvalue.mean()

Intercept    0.223541
LAGMARET2    0.375181
DIFF         0.366296
dtype: float64

In [90]:
dff1 = dff[['EXRET','LAGMSTD','DIFF','LAGMARET2']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD + DIFF+LAGMARET2', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD + DIFF+LAGMARET2', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ LAGMSTD + DIFF+LAGMARET2', data=x).fit().pvalues)

In [91]:
rsquare.mean()

0.11774139180665434

In [92]:
dff1 = dff[['EXRET','_RET1Y']]
allparams = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().params)
rsquare = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().rsquared)
pvalue = dff1.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ _RET1Y', data=x).fit().pvalues)

In [93]:
rsquare.mean()

0.028457866322981463

In [94]:
pvalue.mean()

Intercept    0.189027
_RET1Y       0.415630
dtype: float64

# Final model

In [95]:
stocks_s = stocks_s.reset_index()
dff = stocks_s.loc[(stocks_s['DATE']<='2018-12-31') & (stocks_s['DATE']>='2014-01-01')]
dff = dff.set_index(['DATE','PERMNO'])

In [96]:
data = dff[['EXRET','lag_bm','lag_ep','DIFF','LAGMSTD','LAGMARET2','LAGRET','_RET1Y']]

In [97]:
allparams = data.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep+LAGMSTD+LAGRET', data=x).fit().params)
rsquare = data.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep+LAGMSTD+LAGRET', data=x).fit().rsquared)
pvalue = data.groupby(['DATE']).apply(lambda x: smf.ols('EXRET ~ lag_bm+lag_ep+LAGMSTD+LAGRET', data=x).fit().pvalues)

In [98]:
rsquare.mean()

0.07134210846497467

In [99]:
allparams.mean()

Intercept    0.000547
lag_bm       0.000469
lag_ep      -0.000645
LAGMSTD     -0.010819
LAGRET      -0.032555
dtype: float64

In [100]:
pvalue.mean()

Intercept    0.262069
lag_bm       0.358124
lag_ep       0.364775
LAGMSTD      0.293627
LAGRET       0.291567
dtype: float64

In [101]:
stocks_s.head()

,PERMNO,DATE,PRC,VOL,RET,SHROUT,ARRET,LAGD,N_t,RRET,...,LAGMA5,LAGRET,DIFF,_RET1Y,IB,SEQ,lag_IB,lag_ep,lag_SEQ,lag_bm
0,10044.0,2011-08-26,8.800,10333.0,-0.009979,6091.0,0.010,2011-08-25,1.0,2.739726e-07,...,0.004074,0.004373,0.000299,0.001867,NaN,NaN,3.911,0.072237,16.654,0.307604
1,10044.0,2011-08-29,8.890,14371.0,0.010227,6091.0,0.005,2011-08-26,3.0,8.219178e-07,...,0.000700,-0.009979,-0.010679,0.001348,NaN,NaN,3.911,0.072965,16.654,0.310704
2,10044.0,2011-08-30,8.910,6209.0,0.002250,6091.0,0.015,2011-08-29,1.0,1.369863e-07,...,0.001418,0.010227,0.008809,-0.000091,NaN,NaN,3.911,0.072227,16.654,0.307559
3,10044.0,2011-08-31,8.926,3403.0,0.001796,6126.0,0.015,2011-08-30,1.0,4.109589e-07,...,0.001261,0.002250,0.000988,0.001697,NaN,NaN,3.911,0.072065,16.654,0.306868
4,10044.0,2011-09-01,9.000,9228.0,0.019494,6126.0,0.010,2011-08-31,1.0,4.109589e-07,...,0.001733,0.001796,0.000062,0.002421,NaN,NaN,3.911,0.071524,16.654,0.304568

In [102]:
# stocks_ss = stocks_ss.set_index('DATE')
days=dff.index.get_level_values('DATE')
days=len(days.unique())

stocks_p=dff.reset_index()
stocks_p['PRED']=np.nan

for t in range(66, days):
    p0=allparams.iloc[(t-66):t].Intercept.mean()
    p1=allparams.iloc[(t-66):t].lag_bm.mean()
    p2=allparams.iloc[(t-66):t].lag_ep.mean()
    p3=allparams.iloc[(t-66):t].LAGRET.mean()
    p4=allparams.iloc[(t-66):t].LAGMSTD.mean()
#     p5=allparams.iloc[(t-66):t]._RET1Y.mean()
    date=allparams.index[t]
    
    stocks_p.loc[stocks_p.DATE==date,'PRED'] = p0 + p1*stocks_p.loc[stocks_p.DATE==date,'lag_bm']+\
                                                                        p2*stocks_p.loc[stocks_p.DATE==date,'lag_ep']+\
                                                                        p3*stocks_p.loc[stocks_p.DATE==date,'LAGRET']+\
                                                                        p4*stocks_p.loc[stocks_p.DATE==date,'LAGMSTD']
#                                                                         p5*stocks_p.loc[stocks_p.DATE==date,'_RET1Y']

In [103]:
stocks_p=stocks_p[stocks_p.PRED.notnull()]

- **Rank all etfs based on PRED into 40 groups, about 25 stocks in each group**

In [104]:
stocks_p= stocks_p.reset_index()
stocks_p = stocks_p.set_index(['DATE','PERMNO'])
stocks_p['RANK'] = stocks_p['PRED'].groupby(['DATE']).apply(lambda x: pd.qcut(x, 40, labels=range(1,41)))

In [105]:
port = stocks_p.groupby(['RANK','DATE'])[['RET']].mean()
port.groupby(['RANK']).describe()

         RET                                                              \
       count      mean       std       min       25%       50%       75%
RANK
1     1192.0 -0.001049  0.021428 -0.105471 -0.011287 -0.001463  0.008961
2     1192.0 -0.001092  0.017835 -0.099143 -0.009625 -0.000808  0.007686
3     1192.0 -0.000441  0.015105 -0.075477 -0.008683 -0.000247  0.008288
4     1192.0 -0.000108  0.014844 -0.081818 -0.008253  0.000046  0.008262
5     1192.0 -0.000485  0.014801 -0.122892 -0.008037  0.000322  0.007256
6     1192.0  0.000803  0.015320 -0.074893 -0.006629  0.000835  0.007915
7     1192.0  0.000028  0.017905 -0.299820 -0.006295  0.000366  0.007378
8     1192.0  0.000627  0.014220 -0.087912 -0.006970  0.000614  0.007508
9     1192.0  0.000332  0.014439 -0.189207 -0.006162  0.000926  0.007483
10    1192.0  0.000057  0.012563 -0.065659 -0.006918  0.000401  0.007759
11    1192.0  0.000627  0.014731 -0.123404 -0.006387  0.000714  0.007618
12    1192.0  0.000091  0.013404 -0.099061 -0.006256  0.000813  0.007494
13    1192.0 -0.000286  0.014070 -0.093074 -0.007024 -0.000132  0.006855
14    1192.0  0.000088  0.012324 -0.045826 -0.006868  0.000417  0.007278
15    1192.0  0.000345  0.012810 -0.059786 -0.006204  0.000483  0.007373
16    1192.0  0.000091  0.014046 -0.096168 -0.006247  0.000659  0.007473
17    1192.0  0.000228  0.014541 -0.246813 -0.006431  0.000802  0.007025
18    1192.0  0.000629  0.013010 -0.077747 -0.006033  0.001083  0.007844
19    1192.0  0.000833  0.013454 -0.051791 -0.005944  0.000441  0.007343
20    1192.0  0.000527  0.014039 -0.098643 -0.005680  0.000437  0.007167
21    1192.0  0.000064  0.016682 -0.267996 -0.006638  0.000591  0.006909
22    1192.0  0.000785  0.013225 -0.086859 -0.005935  0.000988  0.008103
23    1192.0  0.000168  0.013752 -0.131100 -0.006082  0.000831  0.007602
24    1192.0  0.000110  0.012820 -0.102961 -0.006615  0.000605  0.007189
25    1192.0  0.000674  0.013674 -0.085930 -0.006297  0.001141  0.007574
26    1192.0  0.000643  0.013023 -0.087061 -0.005690  0.001113  0.007960
27    1192.0  0.000348  0.014178 -0.133673 -0.006498  0.000753  0.007081
28    1192.0  0.000769  0.014886 -0.067925 -0.006331  0.000587  0.007749
29    1192.0  0.000447  0.013110 -0.088498 -0.006080  0.000505  0.007665
30    1192.0  0.000560  0.013445 -0.064694 -0.006149  0.001378  0.007857
31    1192.0  0.001156  0.013852 -0.055283 -0.005907  0.001231  0.007924
32    1192.0  0.000732  0.013050 -0.054811 -0.006591  0.001265  0.007858
33    1192.0  0.000333  0.014332 -0.119534 -0.006384  0.000939  0.007790
34    1192.0  0.000996  0.014057 -0.069455 -0.006447  0.001366  0.008610
35    1192.0  0.000654  0.012908 -0.059137 -0.006343  0.000798  0.008204
36    1192.0  0.000802  0.015023 -0.168026 -0.006694  0.000753  0.008176
37    1192.0  0.000044  0.016122 -0.088810 -0.007492  0.000710  0.008368
38    1192.0  0.000739  0.015522 -0.146782 -0.006815  0.001239  0.008833
39    1192.0  0.000898  0.016984 -0.122487 -0.007088  0.001335  0.009012
40    1192.0  0.001805  0.022865 -0.088712 -0.008827  0.001721  0.010854


           max
RANK
1     0.206938
2     0.198500
3     0.109051
4     0.066707
5     0.090760
6     0.196884
7     0.146882
8     0.157130
9     0.066390
10    0.047800
11    0.136564
12    0.083250
13    0.096976
14    0.049254
15    0.087549
16    0.104748
17    0.087343
18    0.063853
19    0.163160
20    0.147555
21    0.148699
22    0.108392
23    0.083735
24    0.050345
25    0.085640
26    0.062263
27    0.102838
28    0.218441
29    0.081131
30    0.081943
31    0.115216
32    0.079701
33    0.082924
34    0.125628
35    0.053312
36    0.127374
37    0.147014
38    0.117977
39    0.160870
40    0.483951

**Operation**
- Short the rank1 and long the rank20

In [106]:
hml = port.loc[40] - port.loc[1]
stats = lmh.describe()
stats

               RET
count  1192.000000
mean      0.002854
std       0.027878
min      -0.214917
25%      -0.009504
50%       0.002351
75%       0.014745
max       0.474660

In [107]:
m = stats.loc['mean']
sd = stats.loc['std']
n = stats.loc['count']

In [108]:
m

RET    0.002854
Name: mean, dtype: float64

In [109]:
# Sharp ratio
sr = m/sd*np.sqrt(264)
sr

RET    1.663125
dtype: float64

# Strategy information based on the model

- Firstly, choose most value stocks (TOP 20%) based on E/P ratio and B/M ratio;
- The positive coefficient of moving average standard deviation suggests a managed volatility strategy in our strategy;
- The negative coefficient of lag_return suggests a reversal strategy in our strategy;